{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron mt-3">
				<h2>
					Curso de Python com Luciano Ramalho
				</h2>
				<h4 class="mt-4">Matrículas abertas! Custo R$ 1000,00</h4>
				<script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
					data-preference-id="228257840-a195bf92-8d01-44e1-8152-3b234a6ed776" data-source="button">
				</script>
				<div class="alert alert-danger mt-3" role="alert">
					Este é um curso fictício com objetivo de testar implementações no desenvolvimento. NÃO EFETUAR PAGAMENTOS.
				</div>

				{% comment %} <h4 class="mt-4">Entre na fila de espera</h4>
				<form action="https://outlook.us18.list-manage.com/subscribe/post?u=462e0823a0a6fbb6930411ece&amp;id=3a7306642d&amp;f_id=00a1c2e1f0" method="post" 
					id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self">
					<div class="form-row align-items-center">
						  <div class="col-auto">
							<label class="sr-only" for="mce-EMAIL">E-mail</label>
							<input type="email" name="EMAIL" class="required email form-control mb-2" id="mce-EMAIL" required="" placeholder="email@email.com">
						  </div>						  
						  <div class="col-auto">
							<label class="sr-only" for="mce-FNAME">Nome</label>
							<input type="text" name="FNAME" class="required text form-control mb-2" id="mce-FNAME" required="" placeholder="Seu nome">
						  </div>					
						<div aria-hidden="true" style="position: absolute; left: -5000px;">
							/* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
							<input type="text" name="b_462e0823a0a6fbb6930411ece_3a7306642d" tabindex="-1" value="">
						</div>	  
						  <div class="col-auto">
							<input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary mb-2" value="Salvar">
						  </div>
					</div>
				</form> {% endcomment %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					Mais detalhes sobre o instrutor
				</h5>
				<div class="card-body">
					<p class="card-text">
						<img src="{% static 'img/user.png' %}" width="160" alt="Autor"
							class="img-thumbnail float-left mr-3" />
						Ramalho é sócio e professor na <a href="www.python.pro.br">Python Pro</a> e autor do Livro
						<a href="http://shop.oreilly.com/product/0636920032519.do" target="_blank">Python Fluente</a>. Foi diretor técnico do Brasil Online, primeiro portal da Abril S/A na Web.
						Liderou times para os portais IDG Now, BOL, UOL, AOL Brasil e outros, usando Python desde
						1998.
						Como instrutor, atendeu clientes como Citibank, CPqD, Serpro, Presidência da República,
						Globo.com e Itaú. Palestrante em eventos internacionais como FISL, PyCon US e OSCON. Ajudou
						a
						criar a Associação Python Brasil e foi seu presidente. É membro da Python Software
						Foundation e
						fundador do Garoa Hacker Clube, o primeiro hackerspace do Brasil.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}